In [17]:
import pandas as pd

In [18]:
%run config_psql.ipynb

In [19]:
url = "https://cricsheet.org/register/people.csv"
df_people = pd.read_csv(url, dtype = str)

In [20]:
url = "https://cricsheet.org/register/names.csv"
df_name = pd.read_csv(url)

In [21]:
with engine.connect() as conn:
    conn.execute("TRUNCATE TABLE dwh.people CASCADE")

count_rows = df_people.to_sql('people', schema = 'dwh', con=engine, if_exists='append', method = 'multi', index=False)

In [22]:
with engine.connect() as conn:
    conn.execute("TRUNCATE TABLE dwh.name")

count_rows = df_name.to_sql('name', schema = 'dwh', con=engine, if_exists='append', method = 'multi', index=False)