## Importing libraries

In [13]:
import pandas as pd
import os

## Postgres Configuration

In [14]:
%run config_psql.ipynb

## Setting configurations

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

resource_filepath = os.path.abspath(os.path.join(os.getcwd(), "../../../config/rating/resource/"))

## Load files

In [10]:
resource_file = '\\resource_sheet.xlsx'

df = pd.read_excel(resource_filepath + '\\resource_sheet.xlsx')

In [15]:
with engine.connect() as conn:
    conn.execute("TRUNCATE TABLE dwh.resource")

count_rows = df.to_sql('resource', schema = 'dwh', con=engine, if_exists='append', method = 'multi', index=False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4642 entries, 0 to 4641
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         4642 non-null   object
 1   over         4642 non-null   float64
 2   ball         4642 non-null   float64
 3   wicket_lost  4642 non-null   int64
 4   resource     4642 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 181.5+ KB